body {
  font-family: "Roboto", cursive;
  list-style: none;
}

.main__description-p1 {
  font-size: larger;
  font-weight: bold;
}

.main__description-p2 {
  width: 100%;
  font-size: medium;
  color: black;
}

.header--logo {
  width: 50%;
}

.main_form-emoticon {
  padding-left: 60px;
}

body {
  padding: 0px;
  margin: 0;
}

.fonctionnement__title {
  padding: 20px;
}

.header {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.header .header__logo-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.header-contenair {
  display: flex;
  justify-content: center;
}

.main__form {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}

input {
  border-style: none;
  background-color: rgba(232, 227, 231, 0.9058823529);
}

::placeholder {
  color: black;
  font-weight: bold;
}

.main__description {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 10px;
}
.main__description .main__description-validation {
  padding: 20px;
}
.main__description .main__description-p1 {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main__description .main__description-p2 {
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.cards {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 10px lightgray;
  margin-bottom: 20px;
  border-radius: 15px;
  font-weight: bold;
}
.cards .cards_number {
  margin-left: -35px;
  margin-right: 30px;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.cards .cards_logo {
  margin-right: 20px;
}

.restorants {
  background-color: #f6f6f6;
  padding: 20px;
}
.restorants a {
  text-decoration: none;
  color: black;
}
.restorants a:hover {
  color: #FF79DA;
}
.restorants .restorants__description {
  border-radius: 10px;
  box-shadow: 2px 2px 10px lightgray;
  margin-bottom: 30px;
}
.restorants .restorants__description--image {
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.restorants .restorants__description--name-location {
  width: 85%;
  padding-left: 20px;
  margin: 0px;
  height: 50px;
}
.restorants .restorants__description--name {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
.restorants .restorants__description--location {
  margin-top: 0;
  margin-left: 10px;
  padding-bottom: 20px;
}
.restorants .new {
  display: flex;
  justify-content: flex-end;
  background-color: #99E2D0;
  width: fit-content;
  margin-top: -100px;
}
.restorants .restorants__description--bottom {
  display: flex;
  padding-top: 10px;
}
.restorants .restorants__description--heart {
  width: 50%;
  font-size: larger;
  margin: 0px;
  padding-right: 30px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: flex-end;
}
.restorants .restorants__description--heart:hover {
  color: #FF79DA;
}
.restorants .fa-regular.fa-heart {
  font-size: x-large;
  width: 25px;
  height: 25px;
  border-style: 1px solid black;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px 40px;
}
footer .footer__title {
  font-family: "Shrikhand", cursive;
}
footer .footer__contact {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
footer .footer_contact-list {
  display: flex;
}
footer .flex-center {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
footer .height {
  height: 51px;
}

.main__validation-explore {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f6f6f6;
}

.btn {
  height: 50px;
  width: 60%;
  font-size: small;
  border-style: none;
  border-color: #ff79da;
  color: white;
  border-radius: 30px;
  background-color: #ff79da;
  background: linear-gradient(#f074da, #a36bd8);
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
