.restorants {
    background-color: #f6f6f6;
    padding: 20px;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: black;
        box-shadow: 2px 2px 10px;
    }

    .restorants__description {
        border-radius: 10px;
        box-shadow: 2px 2px 10px lightgray;
        margin-bottom: 30px;

    }

    .restorants__description--image {
        width: 100%;
        height: 180px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

    .restorants__description--name-location {
        width: 85%;
        padding-left: 20px;
        margin: 0px;
        height: 50px;
    }

    .restorants__description--name {
        margin-left: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .restorants__description--location {
        margin-top: 0;
        margin-left: 10px;
        padding-bottom: 20px;
    }

    .new {
        display: flex;
        justify-content: flex-end;
        background-color: #99E2D0;
        width: fit-content;
        margin-top: -100px;

    }

    .restorants__description--bottom {
        display: flex;
        padding-top: 10px;
    }

    .restorants__description--heart {
        width: 50%;
        font-size: larger;
        margin: 0px;
        padding-right: 30px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: flex-end;



    }


    .fa-regular.fa-heart {
        font-size: x-large;
        width: 25px;
        height: 25px;
        border-style: 1px solid black;

    }
}