footer {
    background-color: #353535;
    color: white;
    padding: 20px 40px;


    .footer__title {
        font-family: 'Shrikhand', cursive;
    }

    .footer__contact {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .footer_contact-list {
        display: flex;
    }


    .flex-center {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .height {
        height: 51px;
    }
}