.main__form {
    @include flex_justify;
    background-color: $light_grey;

}

input {
    border: none;
    outline: none;
    background-color: $light_grey;
}

::placeholder {
    color: $black;
    font-weight: bold;

}