.header {
    background-color: $grey;
    width: 100%;
    @include flex_justify;


    .header__logo-img {

        padding-left: 80px;
        padding-right: 100px;
        width: 50%;
        @include flex_justify;



    }
}



.header-contenair {
    @include flex_justify;
    padding: 1px;

}

a {
    display: flex;
    align-items: center;
}

.header__menu-return-arrow {
    font-size: x-large;
    padding-left: 20px;

}



/* seconde page*/