.essai1 {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}


.main__description {
    @include flex_center_column;
    background-color: #f6f6f6;
    padding: 10px;

    .main__description-validation {
        padding: 20px;

    }

    .main__description-p1 {
        display: flex;
        height: 40px;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;

    }

    .main__description-p2 {
        display: flex;
        height: 40px;
        width: 75%;

        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}