.main__validation-explore {
    height: 100px;
    @include flex_box;
    @include padding_10px;
    background-color: #f6f6f6;


}

.btn {
    height: 50px;
    width: 50%;
    font-size: small;
    border-style: none;
    border-color: $pink;
    color: white;
    border-radius: 30px;
    background-color: $pink;
    background: linear-gradient($pink, $purple);
}

.btn:hover {
    box-shadow: inset 0px 0px 10px 10px $pink;
}