.main__validation-explore {
    height: 100px;
    @include flex_box;
    @include padding_10px;
    background-color: #f6f6f6;


}

.btn {
    height: 50px;
    width: 50%;
    font-size: small;
    border-style: none;
    border-color: #ff79da;
    color: white;
    border-radius: 30px;
    background-color: #ff79da;
    background: linear-gradient(#f074da, #a36bd8);
}

.btn:hover {
    box-shadow: inset 0px 0px 10px 10px #ff79da;
}

.margin_top {
    margin-top: 70px;
}