body {
    font-family: "Roboto", cursive;
    list-style: none;
}

.main__description-validation {
    text-align: center;
}

.main__description-p1 {
    font-size: larger;
    font-weight: bold;

}

.main__description-p2 {
    width: 100%;
    font-size: medium;
    font-weight: bold;
    color: lightgray;
}

.restorants__title {
    font-size: large;
}