@media screen and (min-width: 768px) {

    .body {
        height: inherit;
    }

    .fonctionnement {
        margin-bottom: 20px;
    }

    .fonctionnement__title {
        padding-top: 40px;
        padding-left: 10px;
        margin-right: 10px;
    }


    .cards {
        margin: 20px;
        margin-bottom: 0;

    }

    .restorants_presentation {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px;

    }


    .far.fa-heart.heart {
        margin-left: 70px;

    }

    .restorants_presentation {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px;

    }
}