@media screen and (min-width: 768px) {

    .body {
        height: inherit;
    }

    .fonctionnement {
        margin-bottom: 20px;
    }

    .fonctionnement__title {
        padding-top: 40px;
        padding-left: 10px;
        margin-right: 10px;
    }


    .cards {
        margin: 20px;
        margin-bottom: 0;

    }

    .restorants_presentation {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px;

    }


    .far.fa-heart.heart {
        margin-left: 70px;

    }

    .restorants_presentation {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px;

    }

    .fonctionnement {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 200px;
    }

    .fonctionnement__title {
        padding-top: 25px;
        padding-left: 10px;
        margin-right: 10px;
    }

    .cards {
        margin: 20px;
        margin-bottom: 0;

    }


    .restorants_presentation {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px;

    }

    .restorant_complete_menu {
        display: flex;
        justify-content: space-around;


    }

    .plat_list {
        max-width: 280px;
        margin: 0;
        padding: 0;
    }

    .plat {
        min-width: 220px;
        max-width: 230px;

    }

    .margin_top {

        margin-top: 70px;
    }
}